@import "tailwindcss";

@font-face {
  font-family: "ErasBold";
  src: url("../../fonts/ERASBD.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "ErasBold", Arial, sans-serif;
}
