.editor-content {
  @layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      all: revert;
    }
  }

  @layer base {
    ol,
    ul {
      all: revert;
    }
  }

  @layer base {
    p {
      margin: 12px;
    }
  }
}
